@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: "Raleway", sans-serif;
}

nav,
footer {
  display: flex;
  align-items: center;
  color: #8500c9;
  background-color: #050404;
  font-weight: 600;
}

nav {
  justify-content: space-between;
}

footer {
  justify-content: space-around;
}

.social {
  display: flex;
  justify-content: space-between;
}

li img {
  width: 30px;
  margin: 10px;
}

#nav-list {
  display: flex;
  margin-right: 50px;
  justify-items: space-between;
}

#nav-list > li {
  padding: 20px;
}

ul {
  list-style-type: none;
}

#about {
  padding: 50px 0;
  display: flex;
  align-items: flex-start;
}

#about img {
  width: 190px;
  margin-left: 50px;
  border: 5px solid whitesmoke;
  border-radius: 20px 0;
}

#about-text {
  padding: 50px 0 0 30px;
  max-width: 600px;
}

.firstP {
  color: #a804fb;
  font-weight: 700;
  font-size: 1.2rem;
}

.secondP {
  font-size: 2.5rem;
  font-weight: 900;
}

#techs {
  background-color: #050404;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  margin-bottom: 20px;
  height: 350px;
}

#techs h1 {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
}

.divTechs {
  margin-left: 100px;
  padding: 20px;
  width: fit-content;
  display: flex;
  gap: 30px;
}

.divTechs img {
  background-color: rgba(83, 0, 124, 0.5);
  border: 2px solid #8500c9;
  border-radius: 15px;
  padding: 15px;
  width: 80px;
}

#description {
  position: absolute;
  right: 100px;
  padding: 30px;
  display: none;
  align-items: center; 

  background-color: rgba(134, 0, 201, 0.5);
  border-radius: 20px;
  box-shadow: 10px 10px  rgba(83, 0, 124, 0.5);

  max-width: 600px;
  height: 250px;
  width: fit-content;
  text-align: center;
}

.d-html, .d-css, .d-js, .d-react {
  display: none;
}

a {
  text-decoration: none;
  color: #8500c9;
}

a:hover {
  text-decoration: underline;
}

#project {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.project-div {
  align-self: center;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  gap: 30px;
}

#project h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.project-div figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #a804fb;
  border: 2px solid #460069;
  border-radius: 20px;
  padding: 20px;
}

.project-div figure figcaption {
  margin-top: 10px;
}

figure img {
  width: 400px;
}

footer {
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  height: 50px;
}

footer .div-email {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer .email {
  width: 30px;
}

footer ul {
  margin-right: 40px;
}

@media screen and (max-width: 412px) {
  .project-div {
    display: flex;
    flex-direction: column;
  }
}